{% extends "common.html" %}
{% block kk %}
    {% load static %}
    <!-- ============================================================== -->
    <!-- pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">你好，{{ user.username }}</h2>
                <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">我的课程</a></li>
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">课程列表</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    {% for tmp in class_list %}
        <a href = "/studentClass/class/?class_id={{tmp.class_id}}">
            <div class="row" align="center" >
                <!-- ============================================================== -->
                <!-- simple line chart  -->
                <!-- ============================================================== -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">{{ tmp.class_name }}</h5>
                        <div class="card-body">
                            <div class="ct-chart-line ct-golden-section">{{ tmp.class_info }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
{% endblock %}
