<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Page - 用户登陆</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center" style="background-color: #5969ff"><a href="{% static 'index.html' %}"><img class="logo-img" src="{% static 'assets/images/logo.png' %}" alt="logo"></a><span class="splash-description" style="color: #abde88">请输入您的用户信息</span></div>
            <div class="card-body">
                <form action="/accounts/login/" method="post">
                    {% csrf_token %}
                    {% if form.errors|length %}
                        <div class="form-group">
                            <span class="splash-description" style="color: red">用户名或密码错误.</span>
                        </div>
                    {% endif %}
                    {% if redirect %}
                        <div class="form-group">
                            <span class="splash-description" style="color: red">注册成功，请登陆.</span>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <input class="form-control form-control-lg" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}"
                               type="text" placeholder="Username" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}"
                               type="password" placeholder="Password" autocomplete="off">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">登 陆</button>
                </form>
            </div>
            <div class="card-footer bg-white p-0  ">
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="/accounts/register/" class="footer-link">创建新用户</a>
                </div>
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="#" class="footer-link">忘记密码</a>
                </div>
            </div>
        </div>
    </div>
  
    <!-- ============================================================== -->
    <!-- end login page  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>
 
</html>
