<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Page - 用户注册</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    </style>
</head>
<!-- ============================================================== -->
<!-- signup form  -->
<!-- ============================================================== -->

<body>
    <!-- ============================================================== -->
    <!-- signup form  -->
    <!-- ============================================================== -->
    <form class="splash-container" action="/accounts/register_post/" method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <h3 class="mb-1">Registrations Form</h3>
                <p>Please enter your user information.</p>
            </div>
            <div class="card-body">
                {% if errors %}
                    <div class="form-group" style="color: red">
                        <p> {{ errors }} </p>
                    </div>
                {% endif %}
                <div class="form-group">
                    <input class="form-control form-control-lg" value="{{ username }}" type="text" name="username" required="" placeholder="Username" autocomplete="off">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" value="{{ email }}" type="email" name="email" required="" placeholder="E-mail" autocomplete="off">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="password" required="" name="password1" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="password" required="" name="password2" placeholder="Confirm">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" value="{{ name }}" required="" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" value="{{ number }}" required="" name="number" placeholder="Student/Teacher ID">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" value="{{ dept }}" required="" name="dept" placeholder="Department">
                </div>
                <div class="form-group pt-2">
                    <button class="btn btn-block btn-primary" type="submit">Register My Account</button>
                </div>
            </div>
            <div class="card-footer bg-white">
                <p>Already member? <a href="/accounts/login" class="text-secondary">Login Here.</a></p>
            </div>
        </div>
    </form>
</body>


</html>