{% extends 'common.html' %}
{% block kk %}
    <!-- ============================================================== -->
    <!-- pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">发布通知 </h2>
                <p class="pageheader-text">为课程创建新的通知事项</p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Tables</a></li>
                            <li class="breadcrumb-item active" aria-current="page">General Tables</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">新建通知</h5>
                <div class="card-body">
                    <form action="/studentClass/{{ class_id }}/notification/create_post/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="title" class="col-form-label">通知标题</label>
                            <input id="title" type="text" class="form-control" name="noti-title">
                        </div>
                        <div class="form-group">
                            <label for="content">通知内容</label>
                            <textarea class="form-control" id="content" rows="3" name="noti-content"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"> </div>
                            <div class="col-sm-6">
                                <p class="text-right">
                                    <button type="submit" class="btn btn-space btn-primary">Submit</button>
                                    <a class="btn btn-space btn-secondary" href="/studentClass/{{ class_id }}/notification/">Cancel</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
