{% extends "commonTeacher.html" %}
{% block kk %}
<div class="row">
	<div class="col-xl-10">
		<!-- ============================================================== -->
		<!-- pageheader  -->
		<!-- ============================================================== -->
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="page-header" id="top">
					<h2 class="pageheader-title">通知详情 </h2>
					<p class="pageheader-text">通知的详细内容</p>
					<div class="page-breadcrumb">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
								<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">UI Elements</a></li>
								<li class="breadcrumb-item active" aria-current="page">Cards</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- ============================================================== -->
		<!-- end pageheader  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- simple cards  -->
		<!-- ============================================================== -->
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">{{title}}</h3>
						<p class="card-text">{{content}}</p>
                        <div class="row" >
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-right">
                                <a href="/teacherClass/{{ class_id }}/notification/" class="btn btn-primary">返回列表</a>
                            </div>
                        </div>
						<div class="row mt-2">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-right">
								{% if isAuthor %}
								<a href="/teacherClass/{{ class_id }}/notification/delete_post/{{ noti }}" class="btn btn-danger">删除通知</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ============================================================== -->
<!-- end main wrapper -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
{% load static %}
{% endblock %}
