{% extends 'commonTeacher.html' %}
{% block kk %}
    {% load static %}
    <!-- ============================================================== -->
    <!-- pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">课程论坛</h2>
                <p class="pageheader-text">关于该课程的问答空间</p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/teacherClass/allClass/" class="breadcrumb-link">我的课程</a></li>
                            <li class="breadcrumb-item"><a href="/teacherClass/{{ class_id }}/section/" class="breadcrumb-link">{{class_name}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">课程论坛</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="tab-regular col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav-link" href="/teacherClass/{{ class_id }}/section/">章节</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherClass/{{ class_id }}/notification/">通知</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherClass/{{ class_id }}/check/">签到</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherClass/{{ class_id }}/homework/">作业</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherClass/{{ class_id }}/group/" role="tab">小组</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/teacherClass/{{ class_id }}/discuss/" role="tab">论坛</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <button class="btn btn-primary btn-block" onclick="clcl();" id="newq">创建新话题</button>
                    <p></p>
                    <h2 class="pageheader-title" id="newq_title" style="display: none">话题</h2>
                    <form class="chat-form" id="newq_form" style="display: none" action="/teacherClass/{{ class_id }}/discuss/create_msg/"  method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="title" class="col-form-label">主题</label>
                            <input id="title" type="text" class="form-control" placeholder="Type title" name="msg_title">
                        </div>
                        <div class="form-group">
                            <label for="content">内容</label>
                            <textarea class="form-control" style="height:100px" id="content" placeholder="Type message" rows="1" name="msg_content"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6">
                                <p class="text-right">
                                    <button type="submit" class="btn btn-primary">
                                        发布
                                    </button>
                                </p>
                            </div>
                        </div>
                    </form>
                    {%  for e in post_list %}
                        <div class="media chat-item">
                            <img alt="Fallon" src="{% static 'assets/images/avatar-3.jpg' %}" class="rounded-circle user-avatar-lg">
                            <div class="media-body">
                                <div class="chat-item-title">
                                    <span class="chat-item-author">{{ e.name }}</span>
                                    <span>{{ e.time_str }}</span>
                                </div>
                                <div>
                                    <div class="chat-item-body">
                                        <p>Title:{{ e.title }}</p>
                                    </div>
                                    <div class="chat-item-body">
                                        <p>Content:{{ e.content }}</p>
                                    </div>
                                </div>

                                <p class="text-right">
                                    <a href="/teacherClass/{{ class_id }}/discuss/chatting/{{ e.id }}/">
                                        <button class="btn btn-link">
                                            <i class="fas fa-paper-plane"></i>
                                        </button>
                                    </a>

                                    {% if e.name == current_user or is_teacher %}
                                        <a href="/teacherClass/{{ class_id }}/discuss/delete_msg/{{ e.id }}/">
                                            <button class="btn btn-link">
                                                <i class="fas fa-window-close"></i>
                                            </button>
                                        </a>
                                    {% endif %}
                                </p>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        lclc=(function() {
            document.getElementById("newq").textContent="创建新话题";
            document.getElementById("newq").onclick=clcl;
            document.getElementById("newq_title").style.display='none';
            document.getElementById("newq_form").style.display='none';
        });
        clcl=(function() {
            document.getElementById("newq").textContent="返回当前话题列表";
            document.getElementById("newq").onclick=lclc;
            document.getElementById("newq_title").style.display='block';
            document.getElementById("newq_form").style.display='block';
        });
    </script>
{% endblock %}
