{% extends "commonTeacher.html" %}
{% block kk %}
    {% load static %}
   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
            <div class="section-block">
                <h1 class="section-title">课程</h1>
                <br>
                <h2>{{ class_name }}</h2>
            </div>
        </div>

        <div class="tab-regular">
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" href="/teacherClass/{{ class_id }}/section/">章节</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherClass/{{ class_id }}/notification/">通知</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherClass/{{ class_id }}/check/">签到</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherClass/{{ class_id }}/homework/">作业</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherClass/{{ class_id }}/group/" role="tab">小组</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherClass/{{ class_id }}/discuss/" role="tab">论坛</a>
                </li>
            </ul>
            <div>
                <br>
                <form action="/teacherClass/{{ class_id }}/section/create/new/" method="post">
                    {% csrf_token %}
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">新建章节</h5>
                                <div class="card-body">
                                    <form id="validationform" data-parsley-validate="" novalidate="">
                                        <div class="form-group row">
                                            <label class="col-12 col-sm-3 col-form-label text-sm-right">章节名称</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <input type="text" required="" placeholder="章节名称"  name="name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-12 col-sm-3 col-form-label text-sm-right">章节号</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <input required="" type="number" min="1" max="100" name="number" placeholder="章节号" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-12 col-sm-3 col-form-label text-sm-right">章节内容</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <textarea required="" class="form-control" name="info"></textarea>
                                            </div>
                                        </div>
                                        <div class="text-center" >
                                            <button type="submit" class="btn btn-secondary pull-left m-3">发布章节</button>
                                                <a class="btn btn-primary col-1 m-3" href="/teacherClass/{{ class_id }}/section">返回</a>
                                        </div>
                                        {% if messages %}
                                            <script>
                                                {% for msg in messages %}
                                                    alert('{{ msg.message }}');
                                                {% endfor %}
                                            </script>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
{% endblock %}