{% extends 'commonTeacher.html' %}
{% block kk %}
    <!-- ============================================================== -->
    <!-- pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">发布作业 </h2>
                <p class="pageheader-text">为课程创建新的作业项目</p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                       <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/teacherClass/allClass/" class="breadcrumb-link">我的课程</a></li>
                            <li class="breadcrumb-item"><a href="/teacherClass/{{ class_id }}/section/" class="breadcrumb-link">{{class_name}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">创建作业</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">新建作业项目</h5>
                <div class="card-body">
                    <form action="/teacherClass/{{ class_id }}/homework/new_act/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="title" class="col-form-label">作业项标题</label>
                            <input id="title" type="text" class="form-control" name="act-title">
                        </div>
                        <div class="form-group">
                            <label for="content">作业的截至时间</label>
                            <input id="date" name="due_date" type="datetime-local"/>
                        </div>
                        <div class="text-center" >
                            <button type="submit" class="btn btn-secondary pull-left m-3">发布作业</button>
                            <a class="btn btn-primary col-1 m-3" href="/teacherClass/{{ class_id }}/homework/">取消</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
