{% extends "commonTeacher.html" %}
{% block kk %}
    {% load static %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">学生信息</h2>
                <p class="pageheader-text">加入课程的全体学生列表</p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                       <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/teacherClass/allClass/" class="breadcrumb-link">我的课程</a></li>
                            <li class="breadcrumb-item"><a href="/teacherClass/{{ class_id }}/section/" class="breadcrumb-link">{{class_name}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">学生信息</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
        <div class="tab-regular">
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav-link" href="/teacherClass/{{ class_id }}/section/">章节</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/teacherClass/{{ class_id }}/detail/">学生</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherClass/{{ class_id }}/notification/">通知</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherClass/{{ class_id }}/check/">签到</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherClass/{{ class_id }}/homework/">作业</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherClass/{{ class_id }}/group/" role="tab">小组</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherClass/{{ class_id }}/discuss/" role="tab">论坛</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent7">
                {% ifequal 0 len %}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                尚未有学生信息
                            </h5>
                        </div>
                    </div>
                {% endifequal %}
                            <table class="bordered col-lg-12">
                                <br>
                                <thead>
                                    <tr>
                                        <th class="text-center">学生姓名</th>
                                        <th class="text-center">学号</th>
                                        <th class="text-center">学生照片</th>
                                    </tr>
                                </thead>
                                <tbody>
                            {% for student in student_lists %}
                                <tr>
                                    <td class="text-center">{{ student.name }}</td>
                                    <td class="text-center">{{ student.id }}</td>
                                    <td class="text-center"><img  class="img-responsive collg-4" height="150" width="100" src="{{ student.url }}" /></td>
                                </tr>
                            {% endfor %}
                                </tbody>
                            </table>
            </div>
        </div>


{% endblock %}