{% extends "common.html" %}
{% block kk %}
    <!-- ============================================================== -->
    <!-- pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title"> 组队信息 </h2>
                <p class="pageheader-text">该课程的学习小组</p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Tables</a></li>
                            <li class="breadcrumb-item active" aria-current="page">General Tables</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->


    <div class="row">
        <div class="tab-regular col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav-link" href="/studentClass/{{ class_id }}/section/">章节</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/studentClass/{{ class_id }}/notification/">通知</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/studentClass/{{ class_id }}/homework/">作业</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/studentClass/{{ class_id }}/group/" role="tab">小组</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/studentClass/{{ class_id }}/discuss/" role="tab">论坛</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent7">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">小组成员</h5>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col" style="width:20%">#</th>
                                    <th scope="col" style="width:40%">组员</th>
                                    <th scope="col" style="width:20%">组名</th>
                                    <th scope="col" style="width:20%">职务</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if member_list|length >= 1 %}
                                    {% for e in member_list %}
                                        <tr>
                                            <th scope="row">{{forloop.counter}}</th>
                                            <td>{{e.username}}</td>
                                            <td>{{e.group_name}}</td>
                                            <td>
                                                {% if not no_group %}
                                                    {% if e.is_leader == True %} 组长
                                                    {% else %} 组员
                                                    {% endif %}
                                                {% else %}
                                                    未分组
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <th scope="row"></th>
                                        <td>暂无分组</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% if isteacher %}
                    <div class="row">
                        <div class="col-9"></div>
                        <a class="btn btn-primary col-3" href="/studentClass/{{ class_id }}/notification/create">发布通知</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end hoverable table -->
        <!-- ============================================================== -->
    </div>
    </div>
{% endblock %}
