{% extends "commonTeacher.html" %}
{% block kk %}
    <!-- ============================================================== -->
    <!-- pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title"> 组队信息 </h2>
                <p class="pageheader-text">该课程的学习小组</p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/teacherClass/allClass/" class="breadcrumb-link">我的课程</a></li>
                            <li class="breadcrumb-item"><a href="/teacherClass/{{ class_id }}/section/" class="breadcrumb-link">{{class_name}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">组队信息</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->


    <div class="row">
        <div class="tab-regular col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav-link" href="/teacherClass/{{ class_id }}/section/">章节</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherClass/{{ class_id }}/notification/">通知</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherClass/{{ class_id }}/homework/">作业</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/teacherClass/{{ class_id }}/group/" role="tab">小组</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherClass/{{ class_id }}/discuss/" role="tab">论坛</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent7">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <form action="/teacherClass/{{ class_id }}/group/lockall/" method="post" class="col-12">
                            {% csrf_token %}
                            <button class="btn btn-primary btn-block">锁定全部</button>
                        </form>
                    </div>
                    <div class="row">
                        <form action="/teacherClass/{{ class_id }}/group/unlockall/" method="post" class="col-12 mt-1">
                            {% csrf_token %}
                            <button class="btn btn-brand btn-block">解锁全部</button>
                        </form>
                    </div>
                    <div class="row">
                        <form class="col-12 mt-1">
                            <a class="btn btn-success btn-block" href="/teacherClass/{{ class_id }}/group/nogroup/">查看未分组人员</a>
                        </form>
                    </div>
                    <div class="row">
                        <form action="/teacherClass/{{ class_id }}/group/deleteall/" method="post" class="col-12 mt-1">
                            {% csrf_token %}
                            <button class="btn btn-danger btn-block">解散全部小组 （危险）</button>
                        </form>
                    </div>
                    <p></p>
                    <div class="card">
                        <h5 class="card-header">小组列表</h5>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col" style="width:20%">组号</th>
                                    <th scope="col" style="width:40%">组名</th>
                                    <th scope="col" style="width:20%">人数</th>
                                    <th scope="col" style="width:20%">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if group_list|length >= 1 %}
                                    {% for e in group_list %}
                                        <tr class="clickable-row" data-no="{{ e.gid }}">
                                            <th scope="row">{{e.gid}}</th>
                                            <td>{{e.name}}</td>
                                            <td>{{e.number}}</td>
                                            <td>
                                                <div class="row">
                                                    {% if e.locked %}
                                                        <form class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-12" action="/teacherClass/{{ class_id }}/group/unlock/{{ e.gid }}/">
                                                            <button class="btn btn-danger">解锁</button>
                                                        </form>
                                                    {% else %}
                                                        <form class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12" action="/teacherClass/{{ class_id }}/group/lock/{{ e.gid }}/">
                                                            <button class="btn btn-success">锁定</button>
                                                        </form>
                                                    {% endif %}
                                                    <form class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12" action="/teacherClass/{{ class_id }}/group/delete/{{ e.gid }}/">
                                                        <button class="btn btn-warning">强制解散</button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <th scope="row"></th>
                                        <td>暂无分组</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% if isteacher %}
                    <div class="row">
                        <div class="col-9"></div>
                        <a class="btn btn-primary col-3" href="/teacherClass/{{ class_id }}/notification/create">发布通知</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end hoverable table -->
        <!-- ============================================================== -->
    </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".clickable-row").click(function() {
                if($(this).data("no")!=0)
                    window.location = "/teacherClass/{{ class_id }}/group/show/"+$(this).data("no");
            });
        });
    </script>
{% endblock %}
